html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
font-family: 'Overpass', sans-serif;
}

/* /////////////// loading animation //////////////// */
#loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff url('images/Infinity-1s-200px.gif') no-repeat center;
    z-index: 99999;
    }
/* /////////////// loading animation //////////////// */


/* /////////////// amimated nav toggle button //////////////// */

.animated-icon1, .animated-icon2, .animated-icon3 {
width: 30px;
height: 24px;
position: relative;
margin: 0px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
cursor: pointer;
}

.animated-icon1 span {
display: block;
position: absolute;
height: 3px;
width: 100%;
border-radius: 9px;
opacity: 1;
left: 0;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .25s ease-in-out;
-moz-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}

.animated-icon1 span {
background: #fff;
}

.animated-icon1 span:nth-child(1) {
top: 0px;
}

.animated-icon1 span:nth-child(2) {
top: 10px;
}

.animated-icon1 span:nth-child(3) {
top: 20px;
}

.animated-icon1.open span:nth-child(1) {
top: 11px;
-webkit-transform: rotate(135deg);
-moz-transform: rotate(135deg);
-o-transform: rotate(135deg);
transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
opacity: 0;
left: -60px;
}

.animated-icon1.open span:nth-child(3) {
top: 11px;
-webkit-transform: rotate(-135deg);
-moz-transform: rotate(-135deg);
-o-transform: rotate(-135deg);
transform: rotate(-135deg);
}

/* Icon 3*/

/* /////////////// amimated nav toggle button //////////////// */



  .navbar-toggler{
    outline: none !important;
    border: none !important;
}

/*////////////////// navbar hover effect ///////////////////////*/
.nav-item .nav-link{
    position: relative;
    /* background-color: #1CB5E0; */
}

a.nav-link {
    color: #fff !important;
}

.nav-link:before{
    content: "";
    position: absolute;
    top: 75%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: all 0.4s linear;
}


.nav-link:after{
    content: "";
    position: absolute;
    top: 10%;
    right: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: all 0.4s linear;
}


.nav-link:hover:before{
    width: 100%;
    background: #fff;
}


.nav-link:hover:after{
    width: 100%;
    background: #fff;
}


@media (max-width: 991px){
.navbar-nav{
    padding: 15px;
   
}


.navbar-nav .nav-item{
   margin: 20px !important;
    }
}

 /*////////////////// navbar hover effect ///////////////////////*/


/* ////////////////////// header middle position end ////////////////////////// */
header{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(125deg, #231557, #44107A, #FF1361,#fda34b, #FFF800);
    background-size: 400%;
    animation: bganimation 15s infinite;
    /* clip-path: polygon(100% 0%, 100% 80%, 50% 100%, 0 80%, 0 0); */
}

/* ///// background header color animation////// */

@keyframes bganimation {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%; 
    }
    100%{
        background-position: 0% 50%; 
    }
}

/* ///// background header color animation////// */


/* /////// castom logo ///////// */
.navbar-brand{
    margin-left: 70px;
}

.site-logo {
    width: 60px;
    height: 60px;
    display: block;
    overflow: visible;
    border: 6px solid orange;
    position: relative;
    transform: rotate(0deg);
    transition:/* transform*/ .4s ease-in-out;
    flex-shrink: 0;
    
}

a.logo-text{
    color: #fff;
    font-size: 20px;
    
    margin-bottom: 1.25em;
    font-weight: 700;
    
}

.site-logo:hover {
    opacity: 1;
    transform: rotate(-90deg);
    transition: transform .4s ease-in-out;
    box-shadow: 0 0 30px 5px red;
}

.site-logo:hover .logo-text {
    transform: translate(-50%,-50%) rotate(90deg);
    transform-origin: center;
}

.site-logo .logo-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(0deg);
    transition: transform .4s ease-in-out;
    font-weight: 700;
    font-size: 18px;
}

/* /////// castom logo ///////// */


/* navbar fit to for mobile screen */
@media (max-width: 480px){
    .navbar-brand{
        margin-left: 53px;
    }

    .site-logo {
        width: 48px !important;
        height: 48px !important;
    }

    .logo-text{
        font-size: 16px !important;
    }
    
    .site-logo {
        width: 55px;
        height: 55px;
    }

    .middle-header h1{
       font-size: 30px;
    }

    .middle-header .btn-middle-header{
        padding: 13px 35px;
        font-weight: 600;
     
    }
    }


    @media(max-width: 350px){
        .middle-header .btn-middle-header{
            padding: 11px 24px;
            font-size: 14px;
        }
    }

    @media(max-width: 350px){
        .middle-header .btn-middle-header{
            padding: 9px 13px !important;
        }
    }
    
/* navbar fit to for mobile screen */


/* ////////////////// stiky animated navbar ////////////////*/

#menuarea{
     display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    /* display: flex; */
    position: fixed;
    transition: background 0.5s;
    z-index: 999;
    width: 100%;

}

#menuarea.cus-nav{
    background: #000;
    opacity: 0.85 !important;
    z-index: 999;
}

#menuarea.cus-nav a{
    color: #fff;
}

.animated-icon1{
    color: #fff !important;
    /* background-color: red; */
}

.nav-item .nav-link{
    font-size: 15px;
}


@media screen and (max-width: 992px) {
    .navbar-collapse{
        background: #000;
        opacity: 0.95;
        z-index: 1;
        text-align: center;
        
    }
    
  }


.nav-menu:hover{
    border: 1px solid #fff;
}

.nav-item{
    margin:8px;
}
.middle-header{
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* background: yellow; */
    color: #fff;
    
}


.middle-header h1{
    animation-duration: 1.4s;
}

.middle-header span{
    font-size: 20px;
}

.middle-header p{
    font-size: 17px;
}


/* animate.css /////////////////////////*/

/* animate.css /////////////////////////*/

.btn-middle-header{
    border: 2px solid #fff;
    padding: 14px 38px;
    color: #fff;
    font-weight: bold;
    transition: 0.5s;
    border-radius: 30px;
    
}

.btn-middle-header:hover{
    color: #000 !important;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    cursor: pointer;
    text-decoration: none;
}


/* ////////////// header mouse scrolling effect /////////////// */

.mouse{
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.mouse-scroll{
    width: 30px;
    height: 45px;
    border: 2px solid #fff;
    border-radius: 60px;
}

.mouse::before{
    content: "";
    width: 3px;
    height: 7px;
    position: absolute;
    top: 8px;
    background: #fff;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    opacity: 1;
    animation: mouse 2s infinite;

}

@keyframes mouse{
    form{
        opacity: 1;
        top: 30px;

    }
    to{
        opacity: 0;
        top: 40px;
    }
}

/* //////////////// header mouse scrolling effect //////////////////// */



/* ////////////////////// header middle position end ////////////////////////// */

/* //////////////////////progress bar end ////////////////////////// */

.my-skill{
    margin-top: 100px;
}

.progress{
    height: 12px !important;
    margin: 10px;
    
}

.progressbar-text{
    color: #1D2124;
    margin-top: 10px !important;
}
.progress-bar{
    background: linear-gradient(to left,  #231557, #44107A, #FF1361,#fda34b ); 
   
}


/* now add */
figure {
    position: relative;
    background: url(images/Pritam_bag.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin: 0 auto !important;
}


figure::before {
    position: absolute;
    content: "";
    background-image: linear-gradient(125deg, #231557, #44107A, #FF1361,#fda34b, #FFF800);
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px;
    /* position: absolute; */
    z-index:-1;
    border-radius: 50%;
}

@media(max-width: 992px){
    figure{
        margin-top: 82px !important;
    } 
}

@media(max-width: 480px){
    figure{
        width: 140px;
        height: 140px;
    } 
}
/* now add */

.about-me-content span{
display: flex;
justify-content: center;

}


/* ////////////////////// progress bar end ////////////////////////// */


/*/////////////////////// start what i can do //////////////////////*/

/* .container{


} */

.what-i-can-do{
    margin-top: 100px;
}

.services{
margin-bottom: 120px;
}


.card{
  
 padding: 20px;
 transition: all 0.5s;
 box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);

 }

.card:hover{
    background: #FF1361;
    color: #fff;
    border: none;
}

.card:hover .fas{
    color: #fff;
}


.card .fas{
    font-size: 50px;
    margin: 30px;
    color: #1D2124;
    }

@media (max-width: 576px){
 
    .row .card-deck{
        margin: 15px;
    }

}
   /*//////////////////////// end what i can do ///////////////////////*/


/* ////////////// Contact me start ///////////////// */

.contact-section{
   
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.5)),url('images/computer-1185569_1280.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   -moz-background-attachment: fixed;
   -webkit-background-attachment: fixed;
   -ms-background-attachment: fixed;
   -o-background-attachment: fixed;
    width: 100%;
    height: 80vh;
    transition: all 0.5s;
}

.contact-section:hover{
    box-shadow: 0 0 25px 2px rgba(0,0,0,0.6);
}



.contact-section{
    position: relative;
   
}

.contact-section .center-position{
    width: 85%;
    position: absolute;
    /* background: red; */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}



/* //////////////////// popup form massage area /////////////////////// */
/* input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
} */
                                                  
/* //////////////////// popup form massage area /////////////////////// */

.contact-section h5{
    margin-bottom: 20px;
   
}

.contact-section .contact-now {
    border: 2px solid #fff;
    padding: 14px 36px;
    border-radius: 25px;
    transition: all 0.4s;
   }

.contact-now:hover{
    color: #000 !important;
    background: #fff;
}

.contact-section form textarea{
    width: 100%;
    height: 80px;
    padding: 5px;
}

@media (max-width: 592px){
    .contact-section h5{
        font-size: 18px;

    }

    .contact-section .contact-now {
        border: 2px solid #fff;
        padding: 13px 35px;
        border-radius: 28px;
       
       }
}

@media (max-width: 480px){
    .contact-section .contact-now{
        padding: 12px 28px;
    }    
}

@media (max-width: 320px){
    .contact-section .contact-now{
        padding: 11px 24px;
    }    
}

/* ////////////// Contact me end ///////////////// */

/*//////////////////////// start portfolio section ///////////////////////*/

.portfolio-margintop{
       margin-top: 85px;
    }
       
.gallery {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-width: 33%;
-moz-column-width: 33%;
column-width: 33%; }


@media (max-width: 768px) {
.gallery {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-width: 100%;
-moz-column-width: 100%;
column-width: 100%;
}

.gallery .img-width{
    width: 100%;
    padding-left: 15px !important;
    padding-right: 15px !important;
    }
}


@media (max-width: 592px){
    .gallery .pics{
        
        margin: 0 15px;
    }
    
}

 
.pics{

/* width: 100%; */
position: relative;
overflow: hidden;
cursor: pointer;
transition: box-shadow 0.5s ease;
}

.pics:hover{
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.4);
}

img{
    width: 100%;
    height: auto;
}

.content{
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    transition: all .7s ease !important;
   }


.button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1.5px solid #fff;
    padding: 5px 16px;
    border-radius: 2px;
   transition: all 0.5s;
   color: #fff;
   text-decoration: none;
}

@media (max-width: 592px){

    .button{
        font-size: 13px;
        padding: 5px 15px;
        border: 1.3px solid #fff;
    } 
   
}

.button:hover{
    box-shadow: 0 0 20px #fff;
    text-decoration: none;
    color: #fff;
    
}

.pics:hover .content{
    left: 0;
}
/*//////////////////////// end portfolio section ///////////////////////*/


/*/////////////////// footer-top /////////// */

.footer-top{
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #1CB5E0,#000046 );  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #1CB5E0, #000046 ); /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7*/
}

.bg-footer-amimation{

    background-image: linear-gradient(125deg, #231557, #44107A, #FF1361,#fda34b, #FFF800);
    background-size: 400%;
    animation: footer-animate 15s infinite !important;
    /* clip-path: polygon(100% 0%, 100% 80%, 50% 100%, 0 80%, 0 0); */
}

/* ///// background footer-top color animation////// */

@keyframes footer-animate{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%; 
    }
    100%{
        background-position: 0% 50%; 
    }
}

/* ///// background footer-top color animation////// */

.footer-top-text{
    color: #fff;
    font-size: 17px;
}

/*/////////////////// footer-top /////////// */

.page-footer .fab {
    color: #fff;
     font-size: 18px;
     transition: all 0.4s;
    margin: 15px;
    
}

.page-footer .fab:hover{
    /* transform: translateY(-20%); */
  transform: scale(2);
  cursor: pointer;
}

.gal {
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
      }	
      

	.gal img{ width: 100%; padding: 7px 0;}
@media (max-width: 500px) {
		
		.gal {
	-webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
	  }
	}

.footer-contact-section .fas{
   transition: transform 0.6s ease;
}

.footer-contact-section .fas:hover{
    transform: rotate(360deg);
 }

/* ********* footer copyright ********** */
.footer-copyright{

    width: 100% !important;
    background: #1D2124;
    color: #fff;
    background-image: linear-gradient(125deg, #231557, #44107A, #FF1361, #fda34b, #FFF800);
    background-size: 400%;
    animation: footer-down 15s infinite;
    /* clip-path: polygon(100% 0%, 100% 80%, 50% 100%, 0 80%, 0 0); */
}


/* ///// background footer-top color animation////// */

@keyframes footer-down{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%; 
    }
    100%{
        background-position: 0% 50%; 
    }
}

/* ///// background footer-top color animation////// */


.footer-copyright a{
    line-height: 1.5;
    text-decoration: none !important;
    /* text-shadow: 0 0 10px 10px red; */
    color: #fff !important;
}

.footer-copyright p{
    margin: 0;
    font-weight: 600;
  animation-name: copyright;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
    
}

@keyframes copyright{
    0%
    {transform: rotateY(360deg);}

    100%
    {transform: rotateY(0deg);}
}

/* ********* footer copyright ********** */

   
